@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header-section {
    width: 100%;
    height: auto;
    background-color: #EEE;
    display: flex;
    flex-direction: column;

    .header-section__logo {
        width: 50%;
        margin: 0 auto;
        padding: 4px 0;
    }

    img.header-section__logo {
        cursor: pointer;
    }

    div.header-section__product {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        div.product__search {
            display: flex;

            input.search__bar {
                width: 242px;
                border: none;
                border-bottom: 1px solid #000;
                outline: none;
                background-color: transparent;

            }
            input.search__bar::placeholder {
                font-family: Poppins, sans-serif;
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                color: #8C8C8C;
            }

            img.search__icon {
                padding-left: 6px;
            }
        }

        div.product__cart {
            padding-top: 10px;
            padding-left: 10px;
        }
    }

    @media (min-width: 768px) {
        height: 94px;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        div.header-section__product {
            width: 362px;
            height: 40px;
        }

        .header-section__logo {
            width: 100%;
            max-width: 177px;
            margin: 0;
            padding: 0;
        }
    }
}
