.product-card {
    width: 100%;
    max-width: 280px;
    height: auto;
    max-height: 511px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: inter, sans-serif;
    background-color: #EEE;
    padding: 10px 0;
}
  
.product-card__image {
max-width: 260px;
max-height: 260px;
}

.product-card__description {
max-width: 260px;
font-weight: 400;
font-size: 16px;
line-height: 19.36px;
color: #404040;
padding: 0 12px;
}

.product-card__prices {
max-width: 260px;
display: flex;
flex-direction: column;
align-self: flex-start;
padding: 0 12px;
}

.product-card__old-price {
font-weight: 300;
font-size: 14px;
line-height: 22.64px;
text-decoration: line-through;
}

.product-card__price {
font-weight: 700;
font-size: 24px;
line-height: 29.05px;
color: #000;
padding: 4px 0;
}

.product-card__installments {
display: flex;
flex-direction: row;
color: #000;
margin: 0;
}

.product-card__installment {
font-weight: 600;
font-size: 16px;
line-height: 25.87px;
padding-right: 4px;
}

.installment-price {
padding-left: 4px;
}

.product-card__cart-button {
margin-top: 30px;
width: 260px;
height: 50px;
background-color: #A4BEBF;
font-weight: 700;
font-size: 16px;
line-height: 19.36px;
text-align: center;
color: #000;
}
  