@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.security-seals {
    width: 100%;
    max-width: 303px;
    height: 213px;

    &__title {
        font-family: Inter, sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 19.36px;
        color: #fff;
        padding-bottom: 7px;
        position: relative;
    }

    &__title::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #32BCAD 0 50%, transparent 50% 100%);
    }

    &__title::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 50%;
        height: 1px;
        background: #CFCFCF;
    }

    &__images {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}